#load-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4px;
  background-color: #7AC74C;
}

.element {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  right: 0;
  margin: auto;
}

#electric {
  background-color: #F7D02C;
  animation: expand 4s infinite;
}

#fire {
  background-color: #EE8130;
  animation: expand 4s infinite;
  animation-delay: 1s;
}

#water {
  background-color: #6390F0;
  animation: expand 4s infinite;
  animation-delay: 2s;
}

#grass {
  background-color: #7AC74C;
  animation: expand-last 4s infinite;
}

@keyframes expand {
  0% {
    max-width: 0;
  }
  25% {
    max-width: 100%;
  }
  49% {
    max-width: 100%;
  }
  50% {
    max-width: 0;
  }
  100% {
    max-width: 0;
  }
}

@keyframes expand-last {
  0%  {
    max-width: 0;
  }
  75% {
    max-width: 0;
  }
  100% {
    max-width: 100%;
  }
}