.stats {
  width: 50%;
  padding: 15px;
}

@media screen and (max-width: 800px) {
  .stats {
    width: 100%;
  }
}

.stat-name {
  text-transform: capitalize;
}

.statbar {
  background-color: #eee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  margin-bottom: 5px;
}